{% extends 'shop/basic.html' %}
{% block css %} {% endblock %}

{% block body %}

<div class="container">
    <div class="col my-2">
        <h2>My Awesome Cart Tracker - Track Your Items</h2>
        <br><br>
        <div class="col my-2">
            <h2>Enter Order ID & E-Mail:</h2>
            <form method="post" action="#" id="trackerForm">{% csrf_token %}
                <input type="hidden" name="itemsJson" id="itemsJson">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Order ID</label>
                        <input type="text" class="form-control" name="orderid" id="orderid" placeholder="Order ID">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Track Order">
                <!-- <button type="submit" class="btn btn-primary">Track Order</button> -->
        </div>
    </div>
    <div class="col my-4">
        <h2>Your Order Status :</h2>
        <div class="my-4">
            <ul class="list-group" id="items">
            </ul>
        </div>
    </div>
    <div class="col my-4">
        <h2>Your Order Details :</h2>
        <div class="my-4">
            <ul class="list-group" id="citems">
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{%block js%}
<script>
    $(document).ready(function () { console.log("jQuery loaded!"); });
    $('#trackerForm').submit((event) => {
        $('#items').empty();
        const formData = {
            'orderid': $('input[name=orderid]').val(),
            'email': $('input[name=email]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };

        $.ajax({
            type: 'POST',
            url: '/shop/tracker',
            data: formData,
            encode: true
        })

            .done(function (data) {
                $('#citems').empty();
                data = JSON.parse(data);
                console.log(data);
                if (data['status'] == 'success') {
                    updates = data['updates'];
                    for (i = 0; i < updates.length; i++) {
                        let text = updates[i]['text'];
                        let time = updates[i]['time'];
                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                        ${text}
                        <span class="badge badge-primary badge-pill">${time}</span>
                        </li>`
                        $('#items').append(mystr);
                    }

                    cart = JSON.parse(data['itemsJson']);
                    console.log(cart);
                    for (item in cart) {
                        let name = cart[item][1];
                        let qty = cart[item][0];
                        mystr = ` <li class="list-group-item d-flex justify-content-between align-items-center">
              ${name}
              <span class="badge text-bg-primary rounded-pill">${qty}</span>
            </li>`
                        $('#citems').append(mystr);
                    }
                } else {
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                        Sorry, We are not able to fetch this order id and email. Make sure to type correct order Id and email</li>`
                    $('#items').append(mystr);
                    $('#citems').append(mystr);
                }

            });
        event.preventDefault();
    });
</script>
{% endblock %}